* {
	margin:0;
	padding:0;
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
body {
	font-family: Chakra Petch, sans-serif;
	opacity: 0.9;
	background-image: linear-gradient(0deg, map-get($colores,colTerciario) 50%, map-get($colores,colPrimario) 50%);
	background-size: 2px 4px;
	font-family: Chakra Petch, sans-serif;
	overflow-x: hidden;
	margin: 0;
	min-height: 100vh;
} 

/*---------GRID---------*/
#gridProducto{
	display: grid;
	grid-template-areas: 
	"prodIzq prodDer"
	"desc desc";
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr ;
}
.prodIzq{
	grid-area: prodIzq;
	margin-left: 5%;
	margin-top: 5%;
	max-width: 100%;
	height: auto;
}
.prodDer{
	grid-area: prodDer; 
	margin-left: 5%;
	margin-top: 5%;
}
.desc{
	grid-area: desc;
	margin:5%
}
/*---------MEDIA QUERY---------*/
@media (max-width: 768px){
	#gridProducto{
		display: grid;
		grid-template-areas: 
		"prodIzq"
		"prodDer"
		"desc";
		grid-template-rows: 1fr .2fr 1fr ;
		grid-template-columns: 1fr;
	}
}
